<a href="https://colab.research.google.com/github/22f3001059/MLP/blob/main/mlp_week_1_ga.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

link = "https://drive.google.com/file/d/16D9FztGYzHiOXHzz5FiojqVbyOyV6zM2/view"
id = link.split("/")[-2]

df = pd.read_csv(f"https://docs.google.com/uc?export=download&id={id}")

df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [13]:
df.shape

(10000, 12)

In [19]:
df.iloc[692, 0]

'2009-11-16'

In [22]:
df.iloc[546,7]

3

In [24]:
# Print all unique values present in 'locality' feature
print(df['Locality'].unique())

['Waterbury' 'Bridgeport' 'Greenwich' 'Norwalk' nan 'Fairfield'
 'West Hartford' 'Stamford']

In [26]:
# Replace '?' with NaN
df.replace('?', pd.NA, inplace=True)

# Check for NaN values in each specified column
columns_to_check = ['Year', 'Estimated Value', 'Sale Price', 'Locality', 'Property', 'property_tax_rate']
for col in columns_to_check:
    if df[col].isna().any():
        print(f"{col} has missing values.")

Estimated Value has missing values.
Locality has missing values.
Property has missing values.

In [27]:
# Calculate the number of missing values in each column
missing_counts = df.isna().sum()

# Find the column with the most missing values
column_with_most_missing = missing_counts.idxmax()

print(f"The feature with the most missing values is: {column_with_most_missing}")

The feature with the most missing values is: Property

In [28]:
# Drop rows with more than 2 missing values
df_cleaned = df.dropna(thresh=df.shape[1]-2)

# Print the number of remaining samples
print(f"Number of samples remaining: {df_cleaned.shape[0]}")

Number of samples remaining: 9917

In [31]:
# Drop rows with any missing values
df_cleaned = df.dropna()

# Print the number of remaining samples
print(f"Number of samples remaining after dropping all rows with missing values: {df_cleaned.shape[0]}")

Number of samples remaining after dropping all rows with missing values: 5449

In [30]:
import pandas as pd

link = "https://drive.google.com/file/d/16D9FztGYzHiOXHzz5FiojqVbyOyV6zM2/view"
id = link.split("/")[-2]

df = pd.read_csv(f"https://docs.google.com/uc?export=download&id={id}")

# Replace '?' with NaN
df.replace('?', pd.NA, inplace=True)

# Count the number of unknown values (now represented as NaN)
unknown_count = df.isna().sum().sum()

print(f"Number of unknown values: {unknown_count}")

Number of unknown values: 5548